*{
        margin:0;
        padding:0;

    }

.text-center {
            text-align: center;
            display: block;
            width: 100%;
}

body {
   color: black;
   background-color: rgba(10,10,10,.4);
   background-image: url(../img/mont3.jpg);
   margin-top:110px;
   /*background-attachment:fixed;*/
}

.panel-default {
   background-color: rgba(255,255,255,.5);
}

h5{
    margin:0 0 40px 0;
    color:black;
    font-weight:bold;
    text-shadow: 0.1em 0.2em 0.1em white;
    
}

@media screen and (max-width: 600px){
  body {
      margin-top:40px;
   }

   .panel-default a{
       margin-left: -10px;
   }
}

@media screen and (max-width: 1100px){
  body {
      margin-top:60px;
   }

   .panel-default a{
       margin-left: -10px;
   }

   
}





    
  
    
    